<h3>捐助开发者</h3>
<hr />
<p>如果你喜欢我的作品 or 站点对你有所帮助，希望能支持我一下，众人拾柴火焰高。有钱捧个钱场，没钱捧个人场，谢谢各位。</p>
<div class="container">
  <div class="row" style="text-align: center;">
    <div class="col-lg-6">
      <h4><b>微信扫码</b></h4>
      <img width="61%" height="61%" src="http://ww4.sinaimg.cn/large/77ef2ab1gw1f2ne2zgy4zj20bt0bqq4s.jpg">
    </div>
    <div class="col-lg-6">
      <h4><b>支付宝钱包扫码</b></h4>
      <img src="http://ww3.sinaimg.cn/large/77ef2ab1gw1f2ne2zc10cj209a09bdgz.jpg">
    </div>
  </div>
</div>
