{% extends "bootstrap/base.html" %}

{% block metas %}
{{ super() }}
<meta name="author" content="https://github.com/taogeT">
{% endblock%}

{% block styles %}
<link rel="shortcut icon" href="https://avatars2.githubusercontent.com/u/6917395?v=3&s=200" type="image/x-icon">
<link rel="icon" href="https://avatars2.githubusercontent.com/u/6917395?v=3&s=200" type="image/x-icon">
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% block styles_private %}{% endblock%}
{% endblock%}

{% block title %}taogeT-个人项目展示{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    {% block navbar_content %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('display') }}">taogeT</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% block navbar_li_home %}{% endblock %}><a href="{{ url_for('display') }}">首页</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li {% block navbar_li_aboutme %}{% endblock %}><a href="{{ url_for('about') }}">关于站点</a></li>
      </ul>
    </div>
    {% endblock %}
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
{% block page_content %}{% endblock %}
</div>
<footer class="footer">
  <div class="container">
    {% block page_footer %}{% endblock %}
    <p>作者 <a href="{{url_for('about')}}">taogeT</a> 独立开发完成，源代码受 <a rel="license" href="https://github.com/taogeT/display_shelf/blob/master/LICENSE" target="_blank">GPL</a> 开源协议保护，地址 <a href="https://github.com/taogeT" target="_blank">GitHub 仓库</a>。</p>
  </div>
</footer>
{% endblock %}

{% block scripts %}
<script src="//cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}
