{% extends "base.html" %}

{% block navbar_li_home %}class="active"{% endblock %}

{% block page_content %}
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>爬虫收集直播数据</h2>
      <p>爬虫持续采集直播网站频道、房间及人气/观众等数据，制作图表。<br>
         收集站点：斗鱼，熊猫，战旗。<br>
         Feature：界面排行榜改造，以频道区分。
      </p>
      <p><a class="btn btn-default" href="{{ url_for('crawler.sites_index') }}" role="button">访问内容 &raquo;</a></p>
    </div>
    <div class="col-lg-6">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>购物车模拟(建设中)</h2>
      <p>实现类似购物车效果实现，可编辑内容可导出结果。</p>
      <p><a class="btn btn-default" href="#" role="button" disabled="disabled">访问内容 &raquo;</a></p>
    </div>
  </div>
</div>
{% endblock %}
